.card{
  position: relative;
  border-top: 1px solid  #dbdbdb;
  box-shadow: 0 3px 9px -1px rgba(219,219,219,.6);
  max-width: 900px;
  &__container{
    padding: 30px 45px;
  }
  &__logo{
    width: 158px;
    img{
      width: 100%;
    }
  }
  &__header{
    display: flex;
  }
  &__info{
    padding-left: 40px;
  }
  &__name{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  &__cuisines{
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 25px;
  }
  &__working-time{
    font-size: 18px;
    padding: 8px 20px;
    display: inline-block;
    &-open{
      background-color: #e6e6e6;
    }
  }
  &__footer{
    border-top: 1px solid #dbdbdb;
    margin-top: 30px;
    padding: 25px 0 30px;
    display: flex;
    justify-content: space-between;
  }
  &__icon-container{
    display: flex;
  }
}
.icon{
  width: 26px;
  height: 26px;
}